<div id="title">

    <h1>{{title}}</h1>
    <div class="margen">

        <h2>{{subtitle}}</h2>
        <h3>{{email}}</h3>
    </div>

</div>

<article class="about">

    <h2>sobre mi</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam molestias obcaecati tenetur inventore quae. 
        Voluptate vero deserunt ratione sed perspiciatis quia dolores delectus corrupti. Harum perspiciatis odio recusandae 
        facilis neque?
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam molestias obcaecati tenetur inventore quae. 
        Voluptate vero deserunt ratione sed perspiciatis quia dolores delectus corrupti. Harum perspiciatis odio recusandae 
        facilis neque?</p>
   
  
</article>